{% extends "layout.html" %}
{% block title %}Generator{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
<script type="text/javascript">// <![CDATA[
        function loading(){
            $("#loading").show();
            $("#content").hide();
        }
// ]]></script>
{% endblock %}
{% block content %}
  <h1>Generate questions</h1>
  {% set questions = get_questions("spirits") %}
  {% if questions %}
    {% for q in questions %}
        <form action = "#" method="post">
            <input type="text" value="{{ q }}" name="question">
            <input type="submit" value="Post to Reddit">
        </form>
    {% endfor %}
  {% endif %}
{% endblock %}