<!doctype html>
<html lang="en">
  <head>
    {% block head %}
    <meta charset="UTF-8">
    <!--<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">-->
    <title>{% block title %}{% endblock %} - Deadbot: An AI bot for r/AskOuija</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    {% endblock %}
  </head>
  <body>
      <nav>
        Menu:
        <li><a href="{{ url_for('get_home') }}">Home</a></li>
        <li><a href="{{ url_for('get_posts') }}">Seed database</a></li>
        <li><a href="{{ url_for('get_train') }}">Train model</a></li>
        <li><a href="{{ url_for('get_questions') }}">Generate questions</a></li>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
    </nav>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
      {% block footer %}
      &copy; Copyright 2019 by <a href="http://blairdev.com/">blairdev</a>.
      {% endblock %}
    </div>
  </body>
</html>